/* Google Fonts link */

@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Noto+Sans:wght@300&family=Nunito&display=swap');

/* body element */

body {
    font-family: "Noto Sans", sans-serif;
    background-color: #f7f8f5;
    text-transform: uppercase;
    text-align: center;
}

/* headings */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
    color: #a55f5a;
    letter-spacing: 3px;
}

/* h1 */

h1 {
    font-family: 'Monoton', cursive;
    font-weight: 200;
    font-size: xx-large;
    color: #a4a7ac;
}

/* removing marker from list items */

li {
    list-style-type: none;;
}

/* removing underline from links */

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color:#a4a7ac;
    font-style: italic;
}

/* nav list, footer list inline */

nav li, footer li {
    display: inline;
    margin: 5%;
}

/* table element */

table {
    width: 100%;
}
th, td {
    border: 1px solid #65657b;
}

/* span elements */

span {
    margin: 1%;
}

/* hr elements */

hr {
    color: #65657b;
}

/* hero-image */

#hero-image {
    height: 40vh;
    width: 100%;
    background: url('../images/hero-image.webp') no-repeat center center;
    background-size: cover;
    border-radius: 8px;
}